@model TallerApplication.ViewModels.Alumno.AlumnosView

@{
    var nombreAlumno = Model.Alumno == null ? "" : Model.Alumno.NombreApellido;
    ViewBag.Title = $"Examenes del alumno {nombreAlumno}";
}
<div class="container" id="AlumnosContainer">
    <h4 class="text-center mt-5">
        Examenes del Alumno @nombreAlumno
    </h4>

    @if (Model.Examen.Any())
    {
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Materia</th>
                            <th scope="col">Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var examen in Model.Examenes.OrderByDesending(examen => examen.Fecha))
                        {
                            <tr>
                                <td>@examen.Fecha.ToLongDateString()</td>
                                <td>@examen.Materia.Nombre</td>
                                <td>@examen.Nota.ToString("N1")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-primary">No se encontraron resultados de exámenes para el alumno.</div>
    }
    <div class="row my-6">
        <div class="col-lg-offset-6">
            <a class="btn btn-dark from-control" href="@Url.RouteUrl("Alumnos_Index")">
                Volver a Alumnos
            </a>
        </div>
    </div>
</div>
